// more
.box-profile {
    padding: 32px 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .avatar {
        position: relative;
        .icon {
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 2px;
            display: inred-flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            background-color: #787982;
        }
    }
}

.box-result-help {
    padding: 45px 0px 40px;
    .image {
        max-width: 154px;
        height: 154px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}

.value-field-wallet {
    position: relative;
    padding: 12px;
    border: 1px solid var(--line-2);
    gap: 12px;
    @include flex(center, space-between);
    max-width: 250px;
    border-radius: 16px;
    img {
        width: 28px;
        height: 28px;
    }
    input {
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    svg {
        opacity: 0.6;
        flex-shrink: 0;
    }
}
.box-service {
    display: flex;
    gap: 34px;
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        .box-icon {
            background-color: var(--rgba-primary);
            color: var(--primary);
        }
    }
}

// profile
.counter-box {
    background: linear-gradient(286.17deg, #7f2dff 0%, #9958ff 100%);
    padding: 6px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    .count-number {
        font-size: 20px;
        line-height: 24px;
        color: var(--white);
        font-weight: 700;
    }
    .title-count {
        color: var(--white);
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
    }
    &.count-2 {
        background: linear-gradient(119.35deg, #ff51ee 4.36%, #ff2cea 98.86%);
    }
    &.count-3 {
        background: linear-gradient(128.93deg, #4fc0ff 5.29%, #00a4ff 95.1%);
    }
    &.count-4 {
        background: linear-gradient(110.65deg, #5786ff 2.98%, #2d68ff 100%);
    }

    &.count-style-2 {
        padding: 6px 12px;
        .icon {
            font-size: 24px;
        }
    }

    &.favourites {
        background: linear-gradient(286.17deg, rgba(255, 77, 103, 0.12) 0%, rgba(255, 138, 155, 0.12) 100%);

        .title-count,
        .count-number,
        .icon {
            background: var(--red-linear);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.edition {
        background: linear-gradient(286.17deg, rgba(127, 45, 255, 0.12) 0%, rgba(153, 88, 255, 0.12) 100%);
        .title-count,
        .count-number,
        .icon {
            background: var(--violet-linear);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.owner {
        background: linear-gradient(128.93deg, rgba(79, 192, 255, 0.12) 5.29%, rgba(0, 164, 255, 0.12) 95.1%);
        .title-count,
        .count-number,
        .icon {
            background: var(--sky-blue-linear);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.visitor {
        background: linear-gradient(110.65deg, rgba(87, 134, 255, 0.12) 2.98%, rgba(45, 104, 255, 0.12) 100%);
        .title-count,
        .count-number,
        .icon {
            background: var(--blue-linear);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

.dropdown-profile {
    &::after {
        content: none !important;
    }
    .dropdown-menu {
        padding: 22px 20px;
        min-width: 190px;
        border-radius: 20px;
        border-top-right-radius: 0px;
    }
    .dropdown-item {
        padding: 0px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        &:not(:last-child) {
            padding-bottom: 14px;
            margin-bottom: 14px;
            border-bottom: 1px solid var(--line);
        }
    }
}

.box-empty {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    img {
        width: 248px;
        margin: auto;
    }
}
// chart
.wrap-chart {
    border-radius: 16px;
    box-shadow: var(--shadow-5);

    .top {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
    }
}

#area-chart {
    max-width: 650px;
    // margin: 35px auto;
}
.box-countdown-2{
    .countdown__timer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
        .countdown__item{
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            background-color: var(--rgba-black-4);
        }
        .countdown__value {
            font-size: 30px;
            line-height: 40px;
            font-weight: 700;
            color: var(--rgba-black-1);
        }
        .countdown__label{
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            color: var(--white);
            background-color: var(--primary);
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}

// calendar
.fc-direction-ltr {
    box-shadow: 0px 4px 40px 0px rgba(16, 21, 35, 0.06);
    border-radius: 12px;
}
.fc {
    .fc-toolbar-title {
        font-size: 18px;
        line-height: 28px;
        color: var(--black);
    }
    .fc-toolbar.fc-header-toolbar {
        padding: 14px 18px 18px;
        margin: 0;
    }

    .fc-toolbar-chunk {
        display: flex;
        align-items: center;
    }
    .fc-button-primary:hover {
        background-color: transparent;
        color: var(--primary);
        border-color: transparent;
    }
    .fc-col-header-cell-cushion {
        color: rgba(49, 57, 79, 0.7);
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
    }
    .fc-today-button:hover,
    .fc-button-primary {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--white);
        font-size: 12px;
        line-height: 12px;
        &:disabled {
            opacity: 1;
            background-color: var(--primary);
            border-color: var(--primary);
        }
    }
    .fc-prev-button,
    .fc-next-button {
        background-color: var(--white);
        border-color: var(--white);
        color: rgba(49, 57, 79, 0.5);
        padding: 0;
        outline: none;
        outline-offset: 0;
        &:focus,
        &:not(:disabled):active {
            background-color: transparent;
            border-color: transparent;
            color: var(--primary);
            box-shadow: none;
        }
        &:not(:disabled):active:focus {
            box-shadow: none;
        }
    }
    .fc-next-button {
        margin-left: 4px !important;
    }
    .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
        min-height: auto;
    }
    .fc-daygrid-day-top {
        justify-content: center;
        opacity: 1 !important;
    }
    .fc-daygrid-day-number {
        color: rgba(49, 57, 79, 0.7);
        font-weight: 400;
        font-size: 12px;
    }
    .fc-daygrid-day.fc-day-today {
        background-color: transparent;
        position: relative;
        .fc-daygrid-day-top {
            &::after {
                position: absolute;
                content: "";
                width: 28px;
                height: 28px;
                background-color: var(--primary);
                border-radius: 50%;
            }
        }
        .fc-daygrid-day-number {
            color: var(--white);
        }
    }
    .fc-daygrid-day-frame {
        @include flex(center, center);
    }
    .fc-scroller-liquid-absolute {
        padding-top: 24px;
    }

    .fc-highlight {
        background-color: rgba(188, 192, 255, 1);
    }
}
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
    border: 0;
}

.dropdown-calendar {
    padding: 10px;
    .fc-direction-ltr {
        width: 290px;
        .fc-col-header {
            width: 100% !important;
        }
        .fc-daygrid-body,
        .fc-scrollgrid-sync-table {
            width: 100% !important;
        }
    }
    .fc-view-harness {
        height: 200px !important;
    }
    .btn-close-drop {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: -15px;
        right: -15px;
        background-color: var(--white);
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(49, 57, 79, 0.7);
        &.st2 {
            left: -15px;
            right: unset;
        }
    }
}