.counter-box {
    background: linear-gradient(286.17deg, #7f2dff 0%, #9958ff 100%);
    padding: 6px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    .count-number{
        font-size: 20px;
        line-height: 24px;
        color: var(--white);
        font-weight: 700;
    }
    .title-count{
        color: var(--white);
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
    }
    &.count-2{
        background: linear-gradient(119.35deg, #FF51EE 4.36%, #FF2CEA 98.86%);

    }
    &.count-3{
        background: linear-gradient(128.93deg, #4FC0FF 5.29%, #00A4FF 95.1%);

    }
    &.count-4{
        background: linear-gradient(110.65deg, #5786FF 2.98%, #2D68FF 100%);

    }
}

.dropdown-profile{
    &::after{
        content: none !important;
    }
    .dropdown-menu{
        padding: 22px 20px;
        min-width: 190px;
        border-radius: 20px;
        border-top-right-radius: 0px;

    }
    .dropdown-item{
        padding: 0px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        &:not(:last-child){
            padding-bottom: 14px;
            margin-bottom: 14px;
            border-bottom: 1px solid var(--line);
        }
    }
}