.modal {
    // bootstrap
    .modal-dialog {
        .modal-content {
            border-radius: 32px;
            border: 0;
            background: var(--white);
            padding: 24px;
        }
    }
    
    .modal-dialog-centered {
        margin: 24px;
        justify-content: center;
        max-width: 100% !important;
    }

    &.fade {
        transition: opacity 0.3s linear;
    }

    
}
.modal-backdrop {
    background-color: var(--black);
    &.show {
        opacity: 0.4;
    }
}








