.modal {
    // bootstrap
    .modal-dialog {
        .modal-content {
            border-radius: 12px;
            border: 0;
            background: var(--white);
          
        }
    }
    
    
  
   
    .modal-dialog-centered {
        margin-left: 22px;
        margin-right: 22px;
        justify-content: center;
        max-width: 100% !important;
    }

    &.fade {
        transition: opacity 0.3s linear;
    }

    
}
.modal-backdrop {
    background-color: var(--black);
    &.show {
        opacity: 0.4;
    }
}








